body{
    background-size: cover;
}

.heading{
    font-size: 23px;
    width: 100%;
    margin: 0px;
    font-family: 'Lobster', cursive;
}

#number_of_objects, #status, #start{
    font-size: 18px;
    font-family: 'Macondo', cursive;
    border: 1px double darkmagenta;
}

canvas{
    border: 5px double whitesmoke;
    border-radius: 20px;
    box-shadow: 5px 5px 7px lavender;
    margin-top: 225px;
}

.footer{
    font-family: 'Rubik Wet Paint', cursive;
    position: fixed;
    color: chocolate;
    line-height: 2;
    bottom: 0;
    background-color: paleturquoise;
    text-align: center;
    width: 100%;
}